.chip {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
h3 {
  color: white;
}
.container {
  // background-color: white;
  color: black;
}
.card-title {
  border: 1px solid lightgray;
  //  background-color: skyblue;
}
.m15 {
  margin: 1px;
}
.m10 {
  margin: 10px;
}
.card-image img {
  max-height: 250px;
}
.card {
  height: 425px;
}
