.chip {
  color: white;
  font-weight: bold;
}
.container {
  // background-color: white;
  color: black;
}
.card-title {
  border: 1px solid lightgray;
  //  background-color: skyblue;
}
.m15 {
  margin: 1px;
}
.m10 {
  margin: 10px;
}
.card-image img {
  max-height: 150px;
}
.card {
  height: 380px;
}
