.page {
  // background-color: skyblue;
  // opacity: 0.5;
  background-image: url("https://image.freepik.com/free-vector/technological-ecology-concept-background_23-2148421842.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  color: white;
  /* Valeur avec un mot-clé */

  // background-image: url("https://code.visualstudio.com/assets/docs/nodejs/angular/bracket-matching.png");
}
.container {
  //position: absolute;
  height: 100vh;
  padding-top: 30vh;
}
